Makefile
/build
/.idea
*.o
CMakeFiles
CMakeCache
/viewer/local.properties
*.iml
/viewer/app/build
/viewer/app/.externalNativeBuild
__pycache__
perf.data
/viewer/app/assets
/viewer/app/build
/cmake-build-debug
/cmake-build-release
/cmake-build-relwithdebinfo
